<table class="table">
  <thead>
    <tr>
      <th scope="col">Age</th>
      <th scope="col">Parent Name</th>
      <th scope="col">Describe Problem</th>
      <th scope="col">Amount</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
  <%= form_for(@report, method: :put) do |f| %>
    <tr>
      <td><%= f.text_field :age, value: @report.age %></td>
      <td><%= f.text_field :parents_name, value: @report.parents_name %></td>
      <td><%= f.text_field :describe_problem, value: @report.describe_problems %></td>
      <td><%= f.text_field :amount, value: @report.amount %></td>
      <td><%= f.submit "Update", class: 'btn btn-success' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', patients_path, class: 'btn' %>